.container{
    width: 100px;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    background: white;
    justify-content: center;
    flex-direction: column;
}
img{
    width: 72px;
    padding: 0 0 1.5rem 0;
}